@{
    ViewBag.Title = "About Me";
}

<div class="container">
    <div>
        <h2 class="text-center"> About Me </h2>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4">
            <img src="~/images/ProfilePicEmily.JPG" class="img-fluid rounded" alt="Website developer Emily smiling"/>
        </div>
        <div class="col-lg-8 mt-4 mt-lg-0">
            <div class="row">

                <h4> Hello everyone! </h4>

            </div>
            <div class="row mt-2">
                <p> Thank you for taking the time to check out my Vegan Baking Catalogue. </p>
                <p> My name is Emily Bender and I am a student at the University of Cincinnati studying for my Undergraduate and Graduate Degree in Information Technology. </p>
                <p> In my spare time I have a multitude of hobbies. Some of these include cooking, dancing, drawing and game development. Another one of my hobbies is baking. </p>
                <p>
                    I have enjoyed baking from a young age. My fondest memories include creating Christmas cookies with my Grandmother and Mother.
                    Every Christmas we still bake and ice over a hundred cookies to gift to friends and family. While I occasionally baked other times of
                    the year beside Christmas, I did not become very intersted in baking until a year or so ago. Since then, I have taken every oportunity to create delicious treats.
                </p>
                <p>
                    I gained more interest in baking around the same time I became Vegan. Some people may become discouraged if unable to use animal products in baked goods, but I saw it as a new challenge.
                    I started creating the baked goods I grew up eating but Veganized. Everytime I create something no one can tell it is missing animal products.
                </p>
                <p>
                    This website acts as a catalogue for the baked items I have tested out so far. I have included the link to the recipe if it was found on a blog. I can assure you all of the
                    recipes work amazingly and if you try them out yourself you will not be disappointed.
                </p>

            </div>
            

            
        </div>
    </div>


</div>
<script>
    $(document).ready(function () {
        $("img").hide().fadeIn(2000);
    });
</script>
