@{
    ViewBag.Title = "Baking Advice";
}
<div class="container">
    <div>
        <h2 class="text-center"> Baking Advice </h2>
    </div>
    <div class="row mt-3">
        <h4 class="text-center"> Here are some tips and tricks I have picked up along the years. </h4>
        
    </div>
    <div class="row mt-2">
        <p>
            If you remember anything, follow this rule: <b> follow the recipe exaclty as written. </b>
            Baking is a science, if an ingredient is forgotten or measurements are off you will not get the desired end product. 
        </p>
   
      
    </div>
    <div class="mt-2">
        <p>
            <b> Use a Scale:  </b>
            Measure ingredients using a scale if weight is given. Baking involves chemistry to produce the correct result, therefore you cannot eyeball measurements.
        </p>

        <p>
            <b> Do Not Pack Ingredients:  </b>
            If exact ingredient weights are not given, do not pack ingredients into measuring cups. For flour especially, lightly scoop or spoon the ingredient into the measurement device. Then, level off with knife
            or other tool. Packing ingredients into measuring devices will give you more of the ingredient than the recipe calls for.
        </p>

        <p>
            <b> Prepare Baking Dishes:  </b>
            Remember to prepare your dishes as the recipe states. Most cake recipes require you to grease and line the cake pan so cakes do not stick to the pan after baking.
            Be careful! Some recipes do not require greasing pans. Some bakes need to cling to the sides of the pan to cool properly. Follow the recipe exactly as given.
        </p>

        <p>
            <b> Do Research Before Substituting:  </b>
            Do research before substituing ingredients in non vegan recipes. Remember, baking is a science, therefore you cannot simply substitute ingredients you think will work without research or prior
            knowledge. For example, if a recipe calls for two eggs, investigate what the eggs are needed for. If the eggs are needed for a meringue, aquafaba will probably be the best replacement. If the
            eggs are used in a cookie, an egg replacer or flax egg will probably work.
        </p>

        <p>
            <b> Temperature of Ingredients:  </b>
            Ensure ingredients are at the same tempurature unless otherwise stated by the recipe.
        </p>

        <p>
            <b> Sinking Fruit and Chocolate Chips:  </b>
            To keep fruit and chocolate chips evenly distributed throughout your baked goods toss them in a little flour before adding to the batter to bake. 
        </p>
    </div>
   
</div>


