@{
    ViewBag.Title = "About Me";
}
<div class="container">
    <div class="section-top">
        <h2 class="text-center"> Resources </h2>
    </div>
    <div class="row">
        <p> I have collected some of my favorite vegan baking blogs, YouTube channels and books on this page. </p>
        <p> I turn to these resources when I am looking for inspiration or something new to bake! </p>
    </div>
    <div class="row">
        <ul>
            <li>
                <ul>Vegan Baking Project: https://projectveganbaking.com/ </ul>
            </li>
        </ul>
    </div>
</div>

