@{
    ViewBag.Title = "Resources";
}
<div class="container">
    <div>
        <h2 class="text-center"> Resources </h2>
    </div>
    <div class="row mt-3">
        <p> I have collected some of my favorite baking blogs, YouTube channels and books on this page. </p>
        <p>
            I turn to these resources when I am looking for inspiration or something new to bake! Some of the resources are not fully vegan. Like I stated, I turn to many of these for
            inspiration and I will find a vegan recipe or recreate a recipe but with vegan ingredients.
        </p>
    </div>
    <div class="row mt-2">
        <p><b>Vegan Baking Blogs: </b> </p>
    </div>
    <div class="row col-lg-8">
        <ul>
            <li> <a href="https://projectveganbaking.com/"> Vegan Baking Project</a> </li>
            <li> <a href="https://www.noracooks.com/category/dessert/"> Nora Cooks</a></li>
            <li> <a href="https://lovingitvegan.com/category/dessert/">Loving It Vegan</a></li>
            <li> <a href="https://vecreation.co.uk/recipes">Vecreation</a></li>
            <li> <a href="https://sarakidd.com/"> Sara Kidd</a></li>
        </ul>

    </div>
    <div class="row mt-2">
        <p><b>Baking and Cooking Books: </b> </p>
    </div>
    <div class="row col-lg-8">
        <ul>
            <li>
                <a href="https://www.amazon.com/Flour-Water-Salt-Yeast-Fundamentals/dp/160774273X/ref=asc_df_160774273X/?tag=hyprod-20&linkCode=df0&hvadid=312068104930&hvpos=&hvnetw=g&hvrand=12922014140978860353&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1023626&hvtargid=pla-404289632390&psc=1">
                    Salt Water Yeast Flour
                </a>
            </li>
            <li> <a href="https://www.amazon.com/Vegan-Pie-Sky-Out-This-World/dp/0738212741"> Vegan Pie in the Sky</a></li>
            <li> <a href="https://www.amazon.com/Vegan-Cupcakes-Take-Over-World/dp/1569242739/ref=pd_lpo_14_t_1/131-7303454-7361027?_encoding=UTF8&pd_rd_i=1569242739&pd_rd_r=695eb6f1-6fec-417a-ade4-02b20dda3b29&pd_rd_w=Y7LYq&pd_rd_wg=q9TOI&pf_rd_p=7b36d496-f366-4631-94d3-61b87b52511b&pf_rd_r=R0EEGCP2BRF4PSXCDMV6&psc=1&refRID=R0EEGCP2BRF4PSXCDMV6">Vegan Cupcakes Take Over the World</a></li>
            <li> <a href="https://www.amazon.com/Vegan-100-Incredible-Recipes-Avant-Garde/dp/1787131246">
                Vegan 100: Over 100 Incredible Recipes from Avant-Garde Vegan </a></li>
            <li> <a href="https://www.amazon.com/Sweet-Potato-Soul-Recipes-Southern/dp/0451498895/ref=sr_1_3?crid=1BQCG89W7V3R8&dchild=1&keywords=sweet+potato+soul+cookbook&qid=1605586249&s=books&sprefix=sweet+potato%2Cstripbooks%2C191&sr=1-3"> 
                Sweet Potato Soul: 100 Easy Vegan Recipes for the Southern Flavors of Smoke, Sugar, Spice, and Soul: A Cookbook </a></li>
        </ul>

    </div>
    <div class="row mt-2">
        <p><b>Baking YoutTube Channels: </b> </p>
    </div>
    <div class="row col-lg-8">
        <ul>
            <li>
                <a href="https://www.youtube.com/user/marystestkitchen"> Mary's Test Kitchen </a>
            </li>
            <li> <a href="https://www.youtube.com/c/GretchensBakery/featured"> Gretchen's Vegan Bakery </a></li>
            <li> <a href="https://www.youtube.com/channel/UCkDrZMSKTbn-lRps8UuR0Ew/featured">Curious Cat Bakery</a></li>
            <li> <a href="https://www.youtube.com/channel/UCjVgfkgEGBGPx1SIo7jqf5w/videos">By Andreja</a></li>
            <li> <a href="https://www.youtube.com/channel/UCJFp8uSYCjXOMnkUyb3CQ3Q"> Tasty</a></li>
        </ul>

    </div>
</div>

