@{
    ViewBag.Title = "About Me";
}
<div class="container">
    <div>
        <h2 class="text-center"> Resources </h2>
    </div>
    <div class="row mt-3">
        <p> I have collected some of my favorite baking blogs, YouTube channels and books on this page. </p>
        <p> I turn to these resources when I am looking for inspiration or something new to bake! Some of the resources are not fully vegan. Like I stated, I turn to many of these for
        inspiration and I will find a vegan recipe or recreate a recipe but with vegan ingredients. </p>
    </div>
    <div class="row mt-2">
        <p><b>Vegan Baking Blogs: </b> </p>
    </div>
    <div class="row col-lg-8">
        <ul>
            <li> <a href="https://projectveganbaking.com/"> Vegan Baking Project</a> </li>
            <li> <a href="https://www.noracooks.com/category/dessert/"> Nora Cooks</a></li>
            <li> <a href="https://lovingitvegan.com/category/dessert/">Loving It Vegan</a></li>
            <li> <a href="https://vecreation.co.uk/recipes">Vecreation</a></li>
            <li> <a href="https://sarakidd.com/"> Sara Kidd</a></li>
        </ul>

    </div>
    <div class="row mt-2">
        <p><b>Baking Books: </b> </p>
    </div>
    <div class="row col-lg-8">
        <ul>
            <li> <a href="https://www.amazon.com/Flour-Water-Salt-Yeast-Fundamentals/dp/160774273X/ref=asc_df_160774273X/?tag=hyprod-20&linkCode=df0&hvadid=312068104930&hvpos=&hvnetw=g&hvrand=12922014140978860353&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=1023626&hvtargid=pla-404289632390&psc=1"> 
                Salt Water Yeast Flour</a> </li>
            <li> <a href="https://www.noracooks.com/category/dessert/"> Nora Cooks</a></li>
            <li> <a href="https://lovingitvegan.com/category/dessert/">Loving It Vegan</a></li>
            <li> <a href="https://vecreation.co.uk/recipes">Vecreation</a></li>
            <li> <a href="https://sarakidd.com/"> Sara Kidd</a></li>
        </ul>

    </div>
</div>

