@model Recipe

@{
    ViewData["Title"] = "Delete Recipe";
}

<h1 class="display-4">Delete Class</h1>
<div class="pl-3">
    <ul class="list-group mb-2">
        <li class="list-group-item">
            <h4>@Model?.Name</h4>
        </li>
        <li class="list-group-item">
            Category: @Model?.Category.Name
        </li>
        <li class="list-group-item">
            Season: @Model?.Season.Name
        </li>
    </ul>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="RecipeId" />
        <button type="submit" class="btn btn-dark">Delete</button>
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark">Cancel</a>
    </form>
</div>